<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Configuración</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="app-body">

<div class="app-card">

    <h1>Configuración</h1>
    <p class="sub">Precios del sistema</p>

    <form method="POST">

        <label>60 min (día)</label>
        <input type="number" name="p60d" value="{{ config[0] }}">

        <label>60 min (noche)</label>
        <input type="number" name="p60n" value="{{ config[1] }}">

        <label>90 min (día)</label>
        <input type="number" name="p90d" value="{{ config[2] }}">

        <label>90 min (noche)</label>
        <input type="number" name="p90n" value="{{ config[3] }}">

        <button class="btn-main">Guardar configuración</button>

    </form>

    <a href="/admin">
        <button class="btn-secondary">Volver</button>
    </a>

</div>

</body>
</html>